<ul>
    <li *ngFor="let data of bookContent">
        <div>
            <span>{{data?.id}}</span>
            <span>{{data?.content}}</span>
            <span *ngIf="data?.children?.length">
                <span *ngFor="let link of data.children">
                    <button (click)="proceed(link.ref)">{{link.linkText}}</button>
                </span>
            </span>
            <button (click)="add(data)">Add</button>
            <div *ngIf="data.status === 1">
                <input #newLinkText /><input #newParagraphText /><button (click)="save(data, newLinkText.value, newParagraphText.value)">Save</button>
            </div>
        </div>
    </li>
</ul>
<button (click)="reset()">Reset</button>
<div class="d3-chart" #chart></div>